.header__close-menu-btn {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 5;
  background-color: #000;
  border: none;
}
.header__close-menu-btn:before,
.header__close-menu-btn:after {
  position: absolute;
  left: 9px;
  top: 0;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: #fff;
}
.header__close-menu-btn:before {
  transform: rotate(45deg);
}
.header__close-menu-btn:after {
  transform: rotate(-45deg);
}
.header__close-menu-btn:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 480px) and (max-height: 736px) and (orientation: landscape) {
  .header__close-menu-btn {
    display: none;
  }
}
