.cards__items {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-items: center;
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
}