.popup__close-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  background: url(../../../images/close.svg) no-repeat center;
  background-size: cover;
  border: none;
}
.popup__close-btn:hover {
  opacity: 0.6;
}

@media (max-width: 526px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
