.header__content {
  max-width: 880px;
  margin: 45px auto 40px auto;
  display: flex;
  justify-content: space-between;
  min-height: 74px;
  position: relative;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media (max-width: 918px) {
  .header__content {
    padding: 0 19px;
  }
}

@media (max-width: 426px) {
  .header__content {
    margin-top: 28px;
    min-height: 56px;
  }
}
